<!DOCTYPE html>
<html lang="en">
{% load static %}
{% include 'ui/header.html' %}
<body>
{% include 'ui/nav-top.html' %}

<div class="container-fluid">
    <div class="row">
           {% include 'ui/nav-left.html' %}

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <ol class="breadcrumb">
                  <li><a href="{% url 'ui:module'  %}">模块</a></li>
                  <li><a href="{% url 'ui:case' mid %}">用例</a></li>
            </ol>
            <h1 class="page-header">{{name}}--用例管理</h1>
             <button type="button" class="btn btn-primary" id="btn-new" data-toggle="modal" data-target="#modal-case">新建</button>
            <input type="hidden" id="mid" value="{{mid}}" />
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>用例名称</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if case_list %}
                    {% for i in  case_list %}
                    <tr id="{{i.id}}">
                        <td>{{i.name}}</td>
                        <td>
                            <input type="button" class="btn btn-lg btn-primary btn-edit" value="编辑"  data-toggle="modal" data-target="#modal-case">
                            <input type="button"  class="btn btn-lg btn-primary btn-del" value="删除">
                            <a  class="btn btn-lg btn-primary" href="{% url 'ui:step' mid i.id %} "> 步骤管理</a>
                            <a  class="btn btn-lg btn-primary" href="{% url 'ui:check' mid i.id %} "> 检查点管理</a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td>无数据</td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% include 'ui/del.html' %}
{% include 'ui/edit-case.html' %}
{% include 'ui/foot.html' %}
<script src=" {% static 'js/common1.js'%}"></script>
<script src=" {% static 'js/case1.js'%}"></script>

</body>
</html>
