<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>自动化接口测试框架</title>
    <link href="{% static  'dist/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <style>
        .break-word-w300{word-wrap:break-word; max-width:300px}
        .break-word-w100{word-wrap:break-word; max-width:100px}
        .break-word-w200{word-wrap:break-word; max-width:100px}
        .table th, .table td {text-align: left;vertical-align: middle!important;}
    </style>
</head>