<div class="col-sm-3 col-md-2 sidebar" id="nav-left">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
        <li><a href="/ui" >测试报告</a></li>
        <li><a href="{% url 'ui:dashBoard'  %}">DashBoard</a></li>
        <li><a href="{% url 'ui:setting'  %}">设置</a></li>
        <li><a href="{% url 'ui:login'  %}">登录</a></li>
        <li><a href="{% url 'ui:common_case'  %}">公共用例</a></li>
        <li><a href="{% url 'ui:module'  %}">模块</a></li>
        <li><a href="{% url 'ui:task'  %}">任务</a></li>
    </ul>
</div>